<form>



    <div class="form-group">
        <label>Cédula</label>
        <input name="quantity" [(ngModel)]="newNutricionista.cedula" class="form-control" placeholder="Cédula" required>
    </div> <!-- form-group// -->
    <div class="form-group">
        <label>Primer Nombre</label>
        <input name="quantity" [(ngModel)]="newNutricionista.nombre1" class="form-control" placeholder="Usuario" type="Nombre" required>

    </div> <!-- form-group// -->
    <div class="form-group">
        <label>Segundo Nombre</label>
        <input name="quantity" [(ngModel)]="newNutricionista.nombre2" class="form-control" placeholder="Usuario" type="Nombre" required>

    </div> <!-- form-group// -->
    <div class="form-group">
        <label>Primer Apellido</label>
        <input type="password" name="quantity" [(ngModel)]="newNutricionista.apellido1" class="form-control" placeholder="Primer Apellido"
            required>

    </div> <!-- form-group// -->

    <div class="form-group">
        <label>Segundo Apellido</label>
        <input name="quantity" [(ngModel)]="newNutricionista.apellido2" class="form-control" placeholder="Segundo Apellido" required>
    </div> <!-- form-group// -->
    <div class="form-group">
        <label>Fecha de Nacimiento</label>
        <input name="quantity" [(ngModel)]="newNutricionista.fechanacimiento" class="form-control" placeholder="Fecha de Nacimiento" required>
    </div> <!-- form-group// -->
    <div class="form-group">
        <label>Peso</label>
        <input name="quantity" [(ngModel)]="newNutricionista.peso" class="form-control" placeholder="Peso" required>
    </div> <!-- form-group// -->
    <div class="form-group">
        <label>IMC</label>
        <input name="quantity" [(ngModel)]="newNutricionista.IMC" class="form-control" placeholder="IMC" required>
    </div> <!-- form-group// -->
    <div class="form-group">
        <label>País</label>
        <input name="quantity" [(ngModel)]="newNutricionista.Pais" class="form-control" placeholder="País" required>
    </div> <!-- form-group// -->
    <div class="form-group">
        <label>Código</label>
        <input name="quantity" [(ngModel)]="newNutricionista.codigonutricionista" class="form-control" placeholder="Código" required>
    </div> <!-- form-group// -->
    <div class="form-group">
        <label>Dirección</label>
        <input name="quantity" [(ngModel)]="newNutricionista.direccion" class="form-control" placeholder="Dirección" required>
    </div> <!-- form-group// -->
    <div class="form-group">
        <label>Foto</label>
        <input name="quantity" [(ngModel)]="newNutricionista.foto" class="form-control" placeholder="Foto" required>
    </div> <!-- form-group// -->
    <div class="form-group">
        <label>Tipo de Cobro</label>
        <input name="quantity" [(ngModel)]="newNutricionista.tipocobro" class="form-control" placeholder="Tipo de Cobro" required>
    </div> <!-- form-group// -->
    <div class="form-group">
        <label>Tarjeta de Crédito</label>
        <input name="quantity" [(ngModel)]="newNutricionista.numerotarjetacredito" class="form-control" placeholder="Tarjeta" required>
    </div> <!-- form-group// -->
    <div class="form-group">
        <label>Correo</label>
        <input name="quantity" [(ngModel)]="newNutricionista.correo" class="form-control" placeholder="Correo" required>
    </div> <!-- form-group// -->
    <div class="form-group">
        <label>Contraseña</label>
        <input name="quantity" [(ngModel)]="newNutricionista.password" class="form-control" placeholder="Contraseña" required>
    </div> <!-- form-group// -->

    <div class="form-group">
        <button (click)="onSubmit()" class="btn btn-primary btn-block" > Registrarse </button>
    </div> <!-- form-group// -->
    <p class="text-center"><a routerLink="/Login" class="btn">¿Ya tiene una cuenta?</a>
    </p>
</form>