<div class=" d-flex justify-content-center">
    <aside class="col-lg" style="margin: 5% 5% 5% 5%;">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Registro de Medidas</h4>
                <hr>
                <div class="row">
                    <!-- table -->
                    <div class="col-md-4 table-responsive">
                        <div class="card" style="margin-bottom: 10px;">
                            <article class="card-body">
                                <div class="form">
                                    <form #form autocomplete="off">
                                       

                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Zona: </label>
                                            </div>
                                            <div class="col form-group">
                                                <div ngbDropdown class="d-inline-block">
                                                    <button class="btn btn-outline-primary"
                                                        id="dropdownBasic1"
                                                        ngbDropdownToggle>{{selectedZona}}</button>
                                                    <div ngbDropdownMenu
                                                        aria-labelledby="dropdownBasic1">
                                                        <button
                                                            *ngFor="let zona of zonas"
                                                            ngbDropdownItem
                                                            (click)="selectZona(zona)">{{zona}}</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Medida: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Medida" [(ngModel)]="newMedida.medida"
                                                    required>
                                            </div>
                                        </div>



                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Fecha de Registro: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="newMedida.fecharegistro"
                            (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" 
                            dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Fecha" 
                            [ngModelOptions]="{standalone: true}" />
                                            </div>
                                        </div>

                                
                                        

                                       
                                        <div class="col form-groupform-group">
                                            <button class="btn btn-primary btn-block" (click)="add()">Agregar</button>
                                        </div>

                                    </form>
                                </div>
                            </article>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <!-- Employee data -->
                        <div class="card">

                            <div class="card-body">
                                <div>
                      

                                    <div class=table-wrapper>
                                        <table class="table table-hover bike-table">
                                            <thead>
                                                <tr>
                                                    <th>Zona</th>
                                                    <th>Medida</th>
                                                    <th>Fecha de Registro</th>
                                                    
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let medida of this.medidas">
                            
                                                    <td *ngIf='editingID != medida.cedula'>{{medida.zona}}</td>
                                                    <td *ngIf='editingID == medida.cedula'>{{medida.zona}}</td>
                                                        <td *ngIf='editingID != medida.cedula'>{{medida.medida}}</td>
                                                        <td *ngIf='editingID == medida.cedula'><input value="{{selectedMedida.medida}}"
                                                            [(ngModel)]="selectedMedida.medida" class="form-control"></td>


                                                        <td *ngIf='editingID != medida.cedula'>{{medida.fecharegistro}}</td>
                                                        <td *ngIf='editingID == medida.cedula'>{{medida.fecharegistro}}</td>

                                            
                                                    
                                                  
                                    
                                                    <th scope="row">
                                                        <button *ngIf='editingID != medida.cedula' (click)="edit(medida)" class="btn-icon" placement="top"
                                                            ngbTooltip="Editar">
                                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                                        </button>
                                                        <button *ngIf='editingID == medida.cedula' (click)="submit()" class="btn-icon" placement="top"
                                                            ngbTooltip="Aceptar">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </button>
                                                    </th>
                                                    <th scope="row">
                                                        <button (click)="delete(medida)" class="btn-icon" placement="top"
                                                            ngbTooltip="Eliminar">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </th>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- card.// -->
                        <br />
                        <br />
                    </div>
                </div>
            </article>
        </div> <!-- card.// -->
    </aside> <!-- col.// -->
</div> <!-- row.// -->

<!--container end.//-->