<div class=" d-flex justify-content-center">
    <aside class="col-lg" style="margin: 5% 5% 5% 5%;">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Seguimiento de cliente</h4>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="form">
                                    
                                        <form #form autocomplete="off">
                                            <div class="logo">
                                                <img class="center" style="height: 150px;" src="../../../assets/img/user.png"/>
                                            </div>
                                            <div class="form-row">
                                                <div class="col form-group">
                                                    <label>Nombre: </label>
                                                </div>
                                                <div class="col form-group">
                                                    {{cliente.nombre1}} {{cliente.nombre2}} {{cliente.apellido1}} {{cliente.apellido2}}
                                                </div>
                                            </div>
    
                                            <div class="form-row">
                                                <div class="col form-group">
                                                    <label>Fecha de nacimiento: </label>
                                                </div>
                                                <div class="col form-group">
                                                    {{cliente.fechanacimiento}}
                                                </div>
                                            </div>
    
                                            <div class="form-row">
                                                <div class="col form-group">
                                                    <label>Peso: </label>
                                                </div>
                                                <div class="col form-group">
                                                    {{cliente.peso}} Kg
                                                </div>
                                            </div>
    
                                         
    
                                            <div class="form-row">
                                                <div class="col form-group">
                                                    <label>IMC: </label>
                                                </div>
                                                <div class="col form-group">
                                                    {{cliente.IMC}}
                                                </div>
                                            </div>
    
                                            <div class="form-row">
                                                <div class="col form-group">
                                                    <label>Consumo calorias: </label>
                                                </div>
                                                <div class="col form-group">
                                                    {{cliente.ConsumoCalorias}} Kcal
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form">
                                    
                                        <form #form autocomplete="off">
                                            
                                            <div class="form-row">
                                                <div class="col form-group">
                                                    <label>Retroalimentación: </label>
                                                </div>
                                                <div class="col form-group">
                                                    <textarea [(ngModel)]= "chat.mensaje"></textarea>
                                                </div>
                                                <div class="col form-groupform-group">
                                                    <button class="btn btn-primary btn-block" (click)="addComment()">Hacer Comentario</button>
                                                </div>
                                            </div>
    
                                            
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <!-- Employee data -->
                        <div class="">
                            <div class="table-responsive">
                                <div class=table-wrapper>
                                    <table class="table table-hover bike-table">
                                        <thead>
                                            <tr>
                                                <th>Tiempo de Comida</th>
                                                <th>Platillo</th>
                                                <th>Fecha</th>
                                                
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let consumo of this.consumos">
                                                <td *ngIf='editingID != consumo.id'>{{consumo.tiempo}}</td>
                                                <td *ngIf='editingID != consumo.id'>{{consumo.platillo}}</td>
                                                <td *ngIf='editingID != consumo.id'>{{consumo.fecha}}</td>
                                                
                                                
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div> <!-- card.// -->
    </aside> <!-- col.// -->
</div> <!-- row.// -->

<!--container end.//-->