<div class=" d-flex justify-content-center">
    <aside class="col-lg" style="margin: 5% 5% 5% 5%;">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Gestión de Productos</h4>
                <hr>
                <div class="row">
                    <!-- table -->
                    <div class="col-md-4 table-responsive">
                        <div class="card" style="margin-bottom: 10px;">
                            <article class="card-body">
                                <div class="form">
                                    <form #form autocomplete="off">
                                        <div class="form-row">

                                           
                                            <div class="col form-group">
                                                <label>Código de barras: </label>
                                            </div> 
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Código de barras" [(ngModel)]="newProducto.codigodbarras"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Descripción: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Descripción" [(ngModel)]="newProducto.descripcion"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Porción: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Porción" [(ngModel)]="newProducto.porcion"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Energía: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Energía" [(ngModel)]="newProducto.energia"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>grasa: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="grasa" [(ngModel)]="newProducto.grasa"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>sodio: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="sodio" [(ngModel)]="newProducto.sodio"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Porción: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="carbohidratos" [(ngModel)]="newProducto.carbohidratos"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Proteínas: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Proteínas" [(ngModel)]="newProducto.proteina"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>vitaminas: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="vitaminas" [(ngModel)]="newProducto.vitaminas"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>calcio: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="calcio" [(ngModel)]="newProducto.calcio"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>hierro: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="hierro" [(ngModel)]="newProducto.hierro"
                                                    required>
                                            </div>
                                        </div>

                                        

                                       
                                        <div class="col form-groupform-group">
                                            <button class="btn btn-primary btn-block" (click)="add()">Agregar</button>
                                        </div>

                                    </form>
                                </div>
                            </article>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <!-- Employee data -->
                        <div class="card">

                            <div class="card-body">
                                <div>
                                    
                                    <div class=table-wrapper>
                                        <table class="table table-hover bike-table">
                                            <thead>
                                                <tr>
                                                    <th>Codigo de barras</th>
                                                    <th>Descripción</th>
                                                    <th>Porción</th>
                                                    <th>Energía</th>
                                                    <th>grasa</th>
                                                    <th>sodio</th>
                                                    <th>carbohidratos</th>
                                                    <th>proteina</th>
                                                    <th>vitaminas</th>
                                                    <th>calcio</th>
                                                    <th>hierro</th>
                                                    <th colspan="2"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let product of this.products">
                            
                                                    <td *ngIf='editingID != product.codigodbarras'>{{product.codigodbarras}}</td>
                                                    <td *ngIf='editingID == product.codigodbarras'>{{product.codigodbarras}}</td>

                                                    <td *ngIf='editingID != product.codigodbarras'>{{product.descripcion}}</td>
                                                    <td *ngIf='editingID == product.codigodbarras'><input value="{{selectedProduct.descripcion}}"
                                                        [(ngModel)]="selectedProduct.descripcion" class="form-control"></td>

                                                        <td *ngIf='editingID != product.codigodbarras'>{{product.porcion}}</td>
                                                        <td *ngIf='editingID == product.codigodbarras'><input value="{{selectedProduct.porcion}}"
                                                            [(ngModel)]="selectedProduct.porcion" class="form-control"></td>

                                                            <td *ngIf='editingID != product.codigodbarras'>{{product.energia}}</td>
                                                            <td *ngIf='editingID == product.codigodbarras'><input value="{{selectedProduct.energia}}"
                                                                [(ngModel)]="selectedProduct.energia" class="form-control"></td>


                                                                <td *ngIf='editingID != product.codigodbarras'>{{product.grasa}}</td>
                                                    <td *ngIf='editingID == product.codigodbarras'><input value="{{selectedProduct.grasa}}"
                                                        [(ngModel)]="selectedProduct.grasa" class="form-control"></td>


                                                        <td *ngIf='editingID != product.codigodbarras'>{{product.sodio}}</td>
                                                    <td *ngIf='editingID == product.codigodbarras'><input value="{{selectedProduct.sodio}}"
                                                        [(ngModel)]="selectedProduct.sodio" class="form-control"></td>

                                                        <td *ngIf='editingID != product.codigodbarras'>{{product.carbohidratos}}</td>
                                                    <td *ngIf='editingID == product.codigodbarras'><input value="{{selectedProduct.carbohidratos}}"
                                                        [(ngModel)]="selectedProduct.carbohidratos" class="form-control"></td>

                                                        <td *ngIf='editingID != product.codigodbarras'>{{product.proteina}}</td>
                                                    <td *ngIf='editingID == product.codigodbarras'><input value="{{selectedProduct.proteina}}"
                                                        [(ngModel)]="selectedProduct.proteina" class="form-control"></td>

                                                        <td *ngIf='editingID != product.codigodbarras'>{{product.vitaminas}}</td>
                                                    <td *ngIf='editingID == product.codigodbarras'><input value="{{selectedProduct.vitaminas}}"
                                                        [(ngModel)]="selectedProduct.vitaminas" class="form-control"></td>

                                                        <td *ngIf='editingID != product.codigodbarras'>{{product.calcio}}</td>
                                                    <td *ngIf='editingID == product.codigodbarras'><input value="{{selectedProduct.calcio}}"
                                                        [(ngModel)]="selectedProduct.calcio" class="form-control"></td>

                                                        <td *ngIf='editingID != product.codigodbarras'>{{product.hierro}}</td>
                                                    <td *ngIf='editingID == product.codigodbarras'><input value="{{selectedProduct.hierro}}"
                                                        [(ngModel)]="selectedProduct.hierro" class="form-control"></td>
                                                    
                                                  
                                                   

                                                    <th scope="row">
                                                        <button *ngIf='editingID != product.codigodbarras' (click)="edit(product)" class="btn-icon" placement="top"
                                                            ngbTooltip="Editar">
                                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                                        </button>
                                                        <button *ngIf='editingID == product.codigodbarras' (click)="submit()" class="btn-icon" placement="top"
                                                            ngbTooltip="Aceptar">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </button>
                                                    </th>
                                                    <th scope="row">
                                                        <button (click)="delete(product.codigodbarras)" class="btn-icon" placement="top"
                                                            ngbTooltip="Eliminar">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </th>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- card.// -->
                        <br />
                        <br />
                    </div>
                </div>
            </article>
        </div> <!-- card.// -->
    </aside> <!-- col.// -->
</div> <!-- row.// -->

<!--container end.//-->