<div class="row">
    <!-- table -->
    <div class="col-md-8">
        <div class="card-body">
            <div class="table-responsive">
                <div class=table-wrapper>
                    <table class="table table-hover bike-table">
                        <thead>
                            <tr>
                                <th>Paciente</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let paciente of this.pacientes">

                                <td>
                                    {{paciente.Nombre}} {{paciente.Apellido1}} {{paciente.Apellido2}}</td>

                                <th scope="row">
                                    <button (click)="view(paciente)" class="btn-icon" placement="top" ngbTooltip="Ver">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </th>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>